html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: rgb(35, 39, 39);
}

a {
  color: rgb(47, 224, 106);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
